.calculator-view {
  display: flex;
    flex-direction: column;
    align-items: center;

  &__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
  }
  &__arrow {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.currency-from {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
}
