.App {
  text-align: center;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#header {
  flex: 0 0 100px;
}

#wrapper {
  display: flex;
  height: calc(100vh - 100px);
}

#menu {
  flex: 0 0 300px;
}

#content {
  overflow: auto;
  overflow-x: hidden;
  overflow: auto;
  padding: 40px;
  flex: 1;
  /* min-width: 805px; */
  height: calc(100vh - 100px);

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
